<html>

<head>
	<title>{{page.title}} &bull; Upsilon Project</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
	<link rel = "stylesheet" type = "text/css" href = "resources/stylesheets/base.css" />
	<link rel = "stylesheet" type = "text/css" href = "resources/stylesheets/mobile.css" media = "screen and (max-width: 768px)" />
	<link rel = "stylesheet" type = "text/css" href = "resources/stylesheets/desktop.css" media = "screen and (min-width: 768px)" />
	<link rel = "shortcut icon" href = "resources/images/logo/logo96pxdarkbg.png" />

	<meta name="viewport" content="width=device-width" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="resources/javascript/thumbnail.js"></script>
</head>

<body>
	<div id = "header">
		<div id = "headerText">
			{% if page.hideTitle == null %}
			<div class = "logo">
				<a href = "/">
				<img src = "resources/images/logo/120px-Logo.png" width = "30px"/>
				<h1>upsilon</h1>
				</a>
			</div>
			{% endif %}

			<a href = "#content" id = "a11yContentSkip">Skip to content</a>


			<nav>
				<label for = "nav" style = "left: 1em">
					<div class = "line"></div>
					<div class = "line"></div>
					<div class = "line"></div>
				</label>
				<input type = "checkbox" id = "nav" />
				<ul class = "navigation topmenu">
					<li><a href = "index">HOME</a></li>
					<li><a href = "faq">FAQ</a></li>
					<li><a href = "/upsilon-docs">documentation</a></li>
					<li><a href = "http://github.com/upsilonproject/">GitHub</a></li>
				</ul>
			</nav>
		</div>

		<input type = "checkbox" id = "searchToggle" />
		<label for = "searchToggle" style = "right: 1em">
		&#128269;
		</label>
<div class = "searchContainer">
<script>
  (function() {
    var cx = '016082243688264737932:jgjxlqj1w48';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>

	</div>

